@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#ladr-header-li .active {
  @apply inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg dark:text-blue-500 dark:border-blue-500;


}

.ladr-header-links {
  @apply inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300;
  transition: border-color 0.4s ease;
}



.noto-serif-kr {
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
}

.noto-serif-kr-bold {
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.3em;
  line-height: 1.1;
  border-left: 5px solid #2563eb;
  padding-left: .5em;
  margin: 0 0 1.5em 0;
}
h2 {
  font-size: 1.8em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.1;
  border-left: 5px solid #2563eb;
  padding-left: .5em;
  margin: 1em 0 1em 0;
}

q {
  quotes: none;
}


#ladr-site {
  width: 100%;
  min-height: 100vh;
}



#ladr-header {
  height: 54px;
  background-color: #242424;
  position: fixed;
}
body:has(#ladr-window > main > div > #episode) #ladr-header {
  position: relative;
} 






#ladr-header-root {
  position: relative;
}

#ladr-header-root:after {
  background: linear-gradient(90deg, transparent, mediumslateblue, mediumpurple, transparent);
  opacity: 0.6;
  height: 1px;
  width: 60%;
  position: absolute;
  bottom: 0px;
  left: 30%;
  content: "";
}





#ladr-page {
  margin: 54px 0 0 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}

#ladr-page:has(#ladr-window > main > div > #episode) {
  background-color: #121212;
  margin: 0;
}





main {
  width: 900px;

}


#display-block {
  display: block !important;
}

#ladr-footer {
  position: relative;
}

#ladr-footer:after {
  background: linear-gradient(90deg, transparent, mediumslateblue, mediumpurple, transparent);
  opacity: 0.6;
  height: 1px;
  width: 60%;
  position: absolute;
  top: 0px;
  right: 40%;
  content: "";
}